*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(2, 0, 0);
    font-family: "Oswald", sans-serif;
    color: rgb(255, 0, 0);
    line-height: 1.6;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

h1{
    text-align: center;
}


