*{
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #11599c;
  color: whitesmoke;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px 8%;
  background-color: black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  position: sticky; 
  top: 0; 
  z-index: 1000; 
}

.logotipo {
  font-size: 45px;
  font-weight: 600;
  color: white;
  letter-spacing: 3px;
}

.logotipo span {
  color: #11599c;
}

nav ul {
  display: flex; 
  list-style: none;
}

nav ul li {
  margin-left: 40px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600; 
  transition: 0.4s;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav ul li a:hover {
  color: #11599c;
}

.Secao-Principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 8%;
  min-width: 80vh;
}

.texto-apresentacao {
  max-width: 550px;
}

.texto-apresentacao .saudacao {
  color: #0077ff;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 10px;
}

.texto-apresentacao h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.texto-apresentacao h1 span {
  color: #0077ff;
}

.texto-apresentacao p {
  color: white;
  font-size: 23px;
  margin-bottom: 30px;
}

.grupo-botoes {
  padding: 12px 30px;
  display: flex;
  gap: 25px;
}

.botao {
  padding: 12px 30px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
  display: inline-block;
}

.botao-contratar {
  background-color: #0077ff;
  color: #ffffff;
}

.botao-contratar:hover {
  background-color: #032744;
}

.botao-trabalho {
  border: 2px solid #0077ff;
  color: #ffffff;
}

.botao-trabalho:hover {
  background-color: #032744;
}

.area-imagem {
  position: relative;
  width: 400px;
  height: 400px;
}

.moldura-circular {
  width: 100%;
  height: 100%;
  background-color: #032744;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 8px solid #032744;
}

.moldura-circular img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer{
  background-color: #032744;
  padding: 40px 8%;
  text-align: center;
  margin-top: 210px;
}

.conteudo-rodape{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.navegacao-rodape{
  margin: 15px 0;
}

.navegacao-rodape a{
  color: #0077ff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 20px;
  transition: 0.3s;
}

.navegacao-rodape a:hover{
  color: #93c0f3;
}

.direitos-autorais{
  color: #ffffff65;
  font-size: 12px;
}